<a href="https://colab.research.google.com/github/Justice233-jp/github-text/blob/main/PrinciplesofProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# How to Output data in Python
# Anything in quotes is called a String
# A number without a decimal point is called an int (Integer)
# A number with decimal points is a float (Floating Point Number)
# The # is used to indicate a comment which the interpreter ignores. Comments are for human beings.
# We use the type() to find the class or datatype of a piece of data
# Anything with () infront of it is called a function
# We use the print() to print out data
# We can do simple calculations inside the print() function
# Python respects the BODMAS/PEMDAS rules and uses () to indicate groupings of code
# +, -, *, /, %, ** are called Mathematical Operators
# There are various other kinds of operators including logical operators, bitwise operators etc.
# data can be named with variables
# You can use len() to find the length of strings and collection datatypes(list, tuple, dictionary)
#You cannot find the length of integers or other numbers
# You can use input() to receive data from the user
#Th input() returns a string
# You can cast a string into an int using the int()
# You can also cast a string into a float using the float()
# You can print out strings and numbers if you separate them with commas
# You can use the the formatted print i.e. print(f'') to print out strings and numbers. Variables and calculations in this case are surrounded by curly brackets {}.



ans = 5 % 2
print(ans)
type(ans)
#len(ans)
# ans1 = "Kofi"
# len(ans1) # len() gives us the length or number of items in a data

# This program asks for your date of birth and calculates your age
# ask for dob   x =  input('Put your date of birth here:')
# calculate age  age = 2025 - x
placeofbirth = input("Indicate where you were born: ")
dob = input("Which year were you born in? ")
dob = int(dob) # this line will convert dob from str to int
# print(type(2025))
# print(type(dob))
# print(type(age))
age = 2025-dob
print("You are " , age , " years old. And you were born in ", placeofbirth )
print(f"In 10 years you will be {2035-dob} years old. And you were born in {placeofbirth}")

1
Indicate where you were born: Tdi
Which year were you born in? 2343
You are  -318  years old. And you were born in  Tdi
In 10 years you will be -308 years old. And you were born in Tdi

In [ ]:
def function_name():
    """This is a docstring explaining what the function does."""
    pass

In [ ]:
def add(a, b):
    '''Returns the sum of a and b.'''
    return a + b

In [ ]:
def greet(name):
    """
    This function greets the person whose name is passed as an argument.

    Parameters:
    name (str): The name of the person to greet.

    Returns:
    None
    """
    print(f"Hello, {name}!")

In [ ]:
def subtract(num1, num2):
  '''This function subtracts the num2 from num1 and returns the answer.
    Example
    subtract(3, 2)  This will calculate 3-2 and return the answer 1
    The parameters must be numerical
  '''
  a = num1 - num2
  return a

In [ ]:
subtract(45000, 5500)

39500

In [ ]:
help(subtract)

Help on function subtract in module __main__:

subtract(num1, num2)
    This function subtracts the num2 from num1 and returns the answer.
    Example
    subtract(3, 2)  This will calculate 3-2 and return the answer 1
    The parameters must be numerical

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
help(function_name)

Help on function function_name in module __main__:

function_name()
    This is a docstring explaining what the function does.

In [ ]:
# Function to get user input
def get_salary_details():
    gross_salary = float(input("Enter your gross salary: "))
    deductions = float(input("Enter total deductions (taxes & others): "))
    return gross_salary, deductions

# Function to calculate take-home salary
def calculate_take_home_salary(gross_salary, deductions):
    return gross_salary - deductions

# Function to display the result
def display_salary(take_home_salary):
    print(f"Your take-home salary is: ${take_home_salary:.2f}")

# Main program
def main():
    gross_salary, deductions = get_salary_details()
    take_home_salary = calculate_take_home_salary(gross_salary, deductions)
    display_salary(take_home_salary)

# Run the program
if __name__ == "__main__":
    main()

Enter your gross salary: 1222
Enter total deductions (taxes & others): 2333
Your take-home salary is: $-1111.00

In [ ]:
gross_salary = float(input("Enter your gross salary: "))
tax_amount = float(input("Enter the tax amount: "))
other_deductions = float(input("Enter other deductions (if any, else enter 0): "))

net_salary = gross_salary - tax_amount - other_deductions


print(f"Your net salary after deductions is: ${net_salary:.2f}")
if net_salary >= 3000:
  print(True)
else:
  print(False)

Enter your gross salary: 100
Enter the tax amount: 2
Enter other deductions (if any, else enter 0): 1
Your net salary after deductions is: $97.00
False

In [ ]:
print(f"In 10 years you will be {2035-dob} years old. And you were born in {placeofbirth}"

SyntaxError: incomplete input (<ipython-input-12-bf2e28988eda>, line 1)

In [ ]:
print(5 > 3)    # True
print(10 == 5)  # False
print(7 <= 7)   # True

In [ ]:
a = True    # a has the datatype bool
b = False   # b also has the datatype bool
print(type(a))
print(type(b))
print(a and b)  # False
print(a or b)   # True
print(not a)    # False

a = 16
print(type(a) )

In [ ]:
print(mydata)

NameError: name 'mydata' is not defined

In [ ]:
import sample_data.dit109
print(mydata)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

NameError: name 'mydata' is not defined

In [ ]:
x = 10 # Global variable

def patience() :

  x = 5 # Local variable ( only inside this function )
  y=100

  print (" Inside function :", x )
  return y


patience()

print (" Outside function :", x )
print(patience())

 Inside function : 5
 Outside function : 10
 Inside function : 5
100

In [ ]:
import math

import cmath # Handles complex numbers


print ( math.sqrt (16) ) # Uses math module

print ( cmath.sqrt ( -16) ) # Uses cmath module

4.0
4j

In [ ]:
#Branches
#Write a program to output the grades of students based on their total mark.
for student in range(1):
  # 1. Input mark
  name = input("Enter the name of the Student: ")
  mark = float(input("Enter the total mark of the Student: "))


  # 2. Process - if the student had 70 and above is A, 60-69 B, 50-59, C,40-49, D, below 40 F
  if mark >= 70:
    grade = "A"
  elif mark >= 60:
    grade = "B"
  elif mark >= 50:
    grade = "C"
  elif mark >= 40:
    grade = "D"
  else:
    grade = "F"

  print(f"{name} got {grade}")